.container-list {
  min-height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-list h1 {
  margin: 10px 0px 60px 0px;
  text-decoration: underline;
}
.container-list a {
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 10px;
}
