.Productcard {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 320px;
  border: 1px solid black;
  margin: 20px;
}
.Productcard a {
  color: black;
}
.Productcard img {
  width: 100px;
  max-height: 100px;
}
.price {
  display: flex;
  gap: 50px;
}
.old-price {
  text-decoration: line-through;
}
.btn {
  text-decoration: none;
  color: white;
  background-color: black;
  margin: 20px auto;
  border: none;
  padding: 5px;
  width: 120px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background-color: dimgrey;
  transform: scale(1.01);
  color: rgb(20, 15, 15);
}
